<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.code.Code"></resultMap>
	
	<sql id ="selectCommon">
		FROM infrCommonCode a
		WHERE 1=1
		
		<!-- 문자열 검색 -->
		<choose>
			<when test="shOptionValue == 1">
				AND a.ifccNameKor LIKE CONCAT('%',#{shValue},'%')
			</when>
		</choose>
		
		<!-- 삭제여부 -->
		<choose>
			<when test="shOptionDelNY == 0">
				AND a.ifccDelNY = 0
			</when>
			<when test="shOptionDelNY == 1">
				AND a.ifccDelNY = 1
			</when>
		</choose>
		
		<!-- 날짜 검색 -->
<!-- 		<choose>
			<when test="shOptionDate == 1">
				AND a.ifcgRegDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
			</when>
			<when test="shOptionDate == 2">
				AND a.ifcgModDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
			</when>
		</choose>
 -->
		<!-- 정렬 -->
		<choose>
			<when test="shOptionSort == 1">
				ORDER BY a.ifccSeq ASC
			</when>
<!-- 			
			<when test="shOptionSort == 2">
				ORDER BY a.ifcgRegDatetime ASC
			</when>
			<when test="shOptionSort == 3">
				ORDER BY a.ifcgModDatetime ASC
			</when> -->
		</choose>
	</sql>
	
	
	<!-- 리스트 조회 -->
	<select id="selectList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql" />
	        SELECT DISTINCT
				a.ifccSeq
			    ,a.ifccNameEng
			    ,a.ifccNameKor
			    ,a.ifccUseNY
			    ,a.ifccDelNY
			    ,a.infrCodeGroup_ifcgSeq
			<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.ifccSeq
		    ,a.ifccNameEng
		    ,a.ifccNameKor
		    ,a.ifccUseNY
		    ,a.ifccDelNY
		    ,a.ifccDescription
		    ,a.infrCodeGroup_ifcgSeq
   			,ifccRegDatetime
			,ifccModDatetime
		FROM infrCommonCode a
		WHERE 1=1
			AND #{mainKey} = a.ifccSeq
	</select>
	
	<!-- 코드그룹 조회 -->
	<select id="selectCodeGroupName" resultMap="resultMapObj">
		SELECT DISTINCT
			a.ifcgSeq
		    ,a.ifcgNameKor
		FROM infrCodeGroup a
		INNER JOIN infrCommonCode b on b.infrCodeGroup_ifcgSeq = a.ifcgSeq
	</select>
	
	<!-- 삽입 -->
	<insert id="insert">
		INSERT INTO infrCommonCode (
			ifccNameKor
			,ifccNameEng
			,ifccUseNY
			,ifccDelNY
			,ifccDescription
			,infrCodeGroup_ifcgSeq
			,ifccRegDatetime
			,ifccModDatetime
		)
		VALUES (
			#{ifccNameKor}
			,#{ifccNameEng}
			,#{ifccUseNY}
			,#{ifccDelNY}
			,#{ifccDescription}
			,#{ifcgSeq}
			,now()
			,now()
		)
		
		<selectKey resultType="String" keyProperty="ifccSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 수정 -->
	<update id="update">
		UPDATE infrCommonCode
		SET
			ifccNameEng = #{ifccNameEng}
			,ifccNameKor = #{ifccNameKor}
			,ifccUseNY = #{ifccUseNY}
			,ifccDelNY = #{ifccDelNY}
			,ifccDescription = #{ifccDescription}
			,infrCodeGroup_ifcgSeq = #{ifcgSeq}
			,ifccModDatetime = now()
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE
			ifccSeq = #{ifccSeq}
	</update>
	
	<!-- uelete -->
	<update id="uelete">
		UPDATE infrCommonCode
		SET
			ifccDelNY = 1
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE
			ifccSeq = #{ifccSeq}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM infrCommonCode WHERE ifccSeq = #{ifccSeq}
	</delete>
	

</mapper>