<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.member.Member"></resultMap>
	
	<sql id = "selectCommon">
		FROM member a
		WHERE 1=1
		<!-- 문자열 검색 -->
		<choose>
			<when test="shOptionValue == 1">
				AND a.memberName LIKE CONCAT('%',#{shValue},'%')
			</when>
		</choose>
		
		<!-- 삭제여부 -->
		<choose>
			<when test="shOptionDelNY == 0">
				AND a.memberDelNY = 0
			</when>
			<when test="shOptionDelNY == 1">
				AND a.memberDelNY = 1
			</when>
		</choose>
		
		<!-- 날짜 검색 -->
		<choose>
			<when test="shOptionDate == 1">
				AND a.memberSignDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
			</when>
			<when test="shOptionDate == 2">
				AND a.memberModDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
			</when>
		</choose>

		<!-- 정렬 -->
		<choose>
			<when test="shOptionSort == 1">
				ORDER BY a.seq ASC
			</when>
			<when test="shOptionSort == 2">
				ORDER BY a.memberSignDatetime ASC
			</when>
			<when test="shOptionSort == 3">
				ORDER BY a.memberModDatetime ASC
			</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.seq
				,a.memberID
				,a.memberName
				,a.memberMobile
				,a.memberCarrier
				,a.memberMailName
				,a.memberPlace
				,a.memberSignDatetime
				,a.memberModDatetime
				,a.memberDelNY
			<include refid="selectCommon"></include>
		<include refid="Base.selectListLowerForMysql" />
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<!-- 로그인 -->
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			seq
			,memberID
			,memberPW
			,memberName
			,memberPlace
		FROM member
		WHERE 1=1
			AND memberID = #{memberID}
			AND memberPW = #{memberPW}
	</select>
</mapper>