<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.main.Main"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		    a.itemHeader
		    ,a.itemPrice
		    ,a.itemRegDatetime
		    ,a.itemPlace
		    ,a.itemSeq
		    ,a.member_seq
		    ,b.uuidName
		    ,b.path
		FROM item a
		JOIN itemImgUpload b on a.itemSeq = b.itemSeq
		WHERE 1 = 1
			AND a.itemSaleNY = 0
			AND b.sort = 1
		<!-- 문자열 검색 -->
		<choose>
			<when test="shValue != null">
				AND a.itemHeader LIKE CONCAT('%',#{shValue},'%')
			</when>
		</choose>
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert">
		INSERT INTO member(
			memberID
			,memberPW
			,memberName
			,memberMobile
			,memberCarrier
			,memberMailName
			,memberMailDomain
			,memberPlace
			,memberSignDatetime
			,memberModDatetime
			,memberDelNY
		)
		VALUES (
			#{memberID}
			,#{memberPW}	
			,#{memberName}	
			,#{memberMobile}	
			,2	
			,"test"
			,"naver.com"	
			,"수원시 팔달구 인계동"	
			,now()	
			,now()
			,0	
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 상품 상세화면 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.itemSeq
		    ,a.itemHeader
		    ,a.itemPrice
		    ,a.itemDescription
		    ,a.itemPlace
		    ,b.path
		    ,b.uuidName
		    ,(select b.memberName from member b where a.member_seq = b.seq) as seller
		from item a
		JOIN itemImgUpload b on a.itemSeq = b.itemSeq
		WHERE 1 = 1
		    AND a.itemSeq = #{mainKey}
		    AND b.sort = 1
	</select>
	<select id="selectListItemImg" resultMap="resultMapObj">
		SELECT
			a.uuidName
			,a.path
		FROM itemImgUpload a
		WHERE 1=1
			AND a.itemSeq = #{mainKey}
			AND a.sort != 1
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="Integer">
		SELECT COUNT(memberID) FROM member WHERE memberID = #{memberID}
	</select>
	
	<!-- 상품등록 -->
	<insert id="itemInst">
		INSERT INTO item (
			itemHeader
			,itemPrice
			,itemDescription
			,itemPlace 
			,itemRegDatetime
			,itemModDatetime
			,itemLikeNY
			,itemDelNY
			,itemSaleNY
			,member_seq
		) VALUES (
			#{itemHeader}
			,#{itemPrice}
			,#{itemDescription}
			,(select a.memberPlace from member a where a.Seq = #{seq})
			,now()
			,now()
			,0
			,0
			,0
			,#{seq}
		)
		<selectKey resultType="String" keyProperty="itemSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<insert id="itemImgUpload">
		INSERT INTO itemImgUpload (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
			,itemSeq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{seq}
			,#{itemSeq}
		)
	</insert>
	
	<!-- 상품 구매 -->
	<update id="buyItem">
		UPDATE item
		SET
			itemSaleNY = 1
			,itemBuyDatetime = now()
			,member_seq1 = #{mainKey}
		WHERE
			itemSeq = #{itemSeq}
	</update>

</mapper>