<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.main.Main"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		    a.itemHeader
		    ,a.itemPrice
		    ,a.itemRegDatetime
		    ,a.itemPlace
		    ,a.seq
		    ,a.member_seq
		FROM item a
		WHERE 1 = 1
		<!-- 문자열 검색 -->
		<choose>
			<when test="shValue != null">
				AND a.itemHeader LIKE CONCAT('%',#{shValue},'%')
			</when>
		</choose>
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert">
		INSERT INTO member(
			memberID
			,memberPW
			,memberName
			,memberMobile
			,memberCarrier
			,memberMailName
			,memberMailDomain
			,memberPlace
			,memberSignDatetime
			,memberModDatetime
			,memberDelNY
		)
		VALUES (
			#{memberID}
			,#{memberPW}	
			,#{memberName}	
			,#{memberMobile}	
			,2	
			,"test"
			,"naver.com"	
			,#{memberPlace}	
			,now()	
			,now()
			,0	
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		    a.itemHeader
		    ,a.itemPrice
		    ,a.itemDescription
		    ,a.itemPlace
		    ,(select b.memberName from member b where a.member_seq = b.seq) as seller
		from item a
		WHERE 1 = 1
		    AND a.seq = #{mainKey};
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(memberID) FROM member WHERE memberID = #{id}
	</select>

</mapper>