<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.user.UserMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.user.User"></resultMap>
	
	<!-- 유저 마이페이지 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.memberID
			,a.memberName
			,a.memberMobile
			,a.memberMailName
			,a.memberMailDomain
			,a.memberPlace
		FROM member a
		WHERE 1=1
			AND seq = #{mainKey}
	</select>
	
	<!-- 구매내역 조회 -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.itemHeader
			,a.itemPrice
			,a.itemBuyDatetime
		FROM item a
		WHERE 1 = 1
			AND a.member_seq1 = #{mainKey}
			AND a.itemSaleNY = 1
	</select>
	
	<!-- 등록내역 조회 -->
	<select id="selectListRegHistory" resultMap="resultMapObj">
		SELECT
			a.itemHeader
			,a.itemPrice
			,a.itemRegDatetime
			,a.itemSaleNY
		FROM item a
		WHERE 1 = 1
			AND a.member_seq = #{mainKey}
	</select>

</mapper>