<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.user.UserMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.user.User"></resultMap>
	
	<sql id = "selectRegHistoryCommon">
		<!-- 판매여부 -->
		<choose>
			<when test="shOptionDelNY == 0">
				AND a.itemSaleNY = 0
			</when>
			<when test="shOptionDelNY == 1">
				AND a.itemSaleNY = 1
			</when>
			<otherwise>
				AND 1=1
			</otherwise>
		</choose>
		<!-- 문자열 검색 -->
		<choose>
			<when test="shValue != null and shValue != ''">
				AND a.itemHeader LIKE CONCAT('%',#{shValue},'%')
			</when>
		</choose>
		<!-- 날짜 검색 -->
		<choose>
			<when test="shStartDate != null and shStartDate != ''">
				AND a.itemRegDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
			</when>
		</choose>
	</sql>
	
	<!-- 유저 마이페이지 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.memberID
			,a.memberName
			,a.memberMobile
			,a.memberMailName
			,a.memberMailDomain
			,a.memberPlace
		FROM member a
		WHERE 1=1
			AND seq = #{mainKey}
	</select>
	
	<!-- 구매내역 조회 -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.itemHeader
				,a.itemPrice
				,a.itemBuyDatetime
				,a.itemSaleNY
			FROM item a
			WHERE 1 = 1
				AND a.member_seq1 = #{mainKey}
				AND a.itemSaleNY = 1
				<!-- 문자열 검색 -->
				<choose>
					<when test="shValue != null and shValue != ''">
						AND a.itemHeader LIKE CONCAT('%',#{shValue},'%')
					</when>
				</choose>
				<!-- 날짜 검색 -->
				<choose>
					<when test="shStartDate != null and shStartDate != ''">
						AND a.itemRegDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
					</when>
				</choose>
		<include refid="Base.selectListLowerForMysql" />
	</select>
	<select id="selectHistoryCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM item a
		WHERE 1=1
			AND a.member_seq1 = #{mainKey}
			AND a.itemSaleNY = 1
			<!-- 문자열 검색 -->
			<choose>
				<when test="shValue != null and shValue != ''">
					AND a.itemHeader LIKE CONCAT('%',#{shValue},'%')
				</when>
			</choose>
			<!-- 날짜 검색 -->
			<choose>
				<when test="shStartDate != null and shStartDate != ''">
					AND a.itemRegDatetime BETWEEN date(#{shStartDate}) AND date(#{shEndDate})
				</when>
			</choose>
	</select>
	
	<!-- 등록내역 조회 -->
	<select id="selectListRegHistory" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.itemHeader
				,a.itemPrice
				,a.itemRegDatetime
				,a.itemSaleNY
				,a.itemSeq
			FROM item a
			WHERE 1 = 1
			AND a.member_seq = #{mainKey}
			<include refid="selectRegHistoryCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	<select id="selectRegHistoryCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM item a
		WHERE 1=1
			AND a.member_seq = #{mainKey}
		<include refid="selectRegHistoryCommon" />
	</select>
	
	<!-- 수정 -->
	<insert id="userUpdt">
		UPDATE member 
		SET 
			memberMailName = #{memberMailName}
			,memberMailDomain= #{memberMailDomain}
			,memberMobile = #{memberMobile}
			,memberPlace = #{memberPlace}
			,memberModDatetime = now()
		WHERE 1=1
			AND seq = #{seq}
	</insert>
	
	<!-- 장바구니 -->
	<select id="selectListItemCart" resultMap="resultMapObj">
		SELECT
		    a.itemHeader
		    ,a.itemPrice
		    ,a.itemSeq
		    ,b.member_seq
		    ,b.item_seq
			,aa.path
			,aa.uuidName
			,aa.itemSeq
		FROM itemCart b
			JOIN item a on b.item_seq = a.itemseq
			JOIN itemImgUpload aa on aa.itemSeq = a.itemSeq
		WHERE 1=1
		    AND b.member_seq = #{mainKey}
		    AND aa.sort = 1
		    AND a.itemSaleNY = 0
	</select>
	<select id="selectOneCount" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM itemCart a
		    JOIN member b on a.member_seq = b.seq
		    JOIN item aa on a.item_seq = aa.itemseq
		WHERE 1 = 1 
		AND b.seq = #{mainKey}
		AND aa.itemSaleNY = 0
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCartItem">
		DELETE FROM itemCart WHERE 1=1
			AND item_seq = #{itemSeq}
			AND member_seq = #{mainKey}
	</delete>
	
	<!-- 댓글내역 -->
	<select id="selectComment" resultMap="resultMapObj">
		SELECT
			a.itemReviewModDatetime
		    ,a.itemReviewComment
		FROM itemReview a
		WHERE 1=1
			AND a.itemReviewMemberSeq = #{mainKey}
	</select>
	
</mapper>