<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfw.infra.modules.login.LoginMapper">

    <resultMap id="resultMapObj" type="com.jinfw.infra.modules.login.Login"></resultMap>
	
	<!-- 로그인 -->
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.memberID
			,a.memberPW
			,a.memberName
			,a.memberPlace
		FROM member a
		WHERE 1=1
			AND memberID = #{memberID}
			AND memberPW = #{memberPW}
	</select>
	<select id="selectCount">
		SELECT
			COUNT(*)
		FROM itemCart a
			JOIN member b on a.member_seq = b.seq
		WHERE 1=1
			AND b.seq = #{seq}
	</select>
	
	
	<!-- 소셜 로그인 -->
	<select id="snsLogin" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.memberID
			,a.memberPW
			,a.memberName
			,a.memberPlace
		FROM member a
		WHERE 1=1
			AND memberID = #{memberID}
	</select>
	<!-- sns 회원가입 -->
	<insert id="snsInsert">
		INSERT INTO member(
			memberID
			,memberName
			,memberMailName
			,memberMailDomain
			,memberSignDatetime
			,memberModDatetime
			,memberDelNY
			,type
		)
		VALUES (
			#{memberID}
			,#{memberName}	
			,#{memberMailName}
			,#{memberMailDomain}	
			,now()	
			,now()
			,0
			,#{type}	
		)
	</insert>
	
	<!-- 로그인 로그 -->
	<insert id="loginLogInsert">
		INSERT INTO loginLog (
			loginLogMemberSeq
			,loginLogIp
			,loginLogDatetime
		) VALUES (
			#{loginLogMemberSeq}
			,#{loginLogIp}
			,now()
		)
	</insert>
</mapper>